@inject ApplicationState AppState
@inject NavigationManager NavigationManager
@using Trackify.Components.Pages <!-- Replace with your app's namespace -->

<Router AppAssembly="@typeof(MauiProgram).Assembly">
    <Found Context="routeData">
        @if (AppState.IsLoggedIn)
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        }
        else
        {
            @if (routeData.PageType == typeof(Login))
            {
                <RouteView RouteData="@routeData" DefaultLayout="@null" />
            }
            else
            {
                RedirectToLogin();
            }
        }
    </Found>
    <NotFound>
        <p>Sorry, there's nothing at this address.</p>
    </NotFound>
</Router>

@code {
    private void RedirectToLogin()
    {
        NavigationManager.NavigateTo("/login", forceLoad: true);
    }
}